In [2]:
import pandas as pd

In [4]:
read_csv = pd.read_csv('titanic_raw_data.csv')
print(read_csv.head())

                PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
1;0;3;Braund       Mr. Owen Harris;male;22.0;1;0;A/5 21171;7.25;;S
2;1;1;Cumings     Mrs. John Bradley (Florence Briggs Thayer);fe...
3;1;3;Heikkinen   Miss. Laina;female;26.0;0;0;STON/O2. 3101282;...
4;1;1;Futrelle    Mrs. Jacques Heath (Lily May Peel);female;35....
5;0;3;Allen         Mr. William Henry;male;35.0;0;0;373450;8.05;;S