In [7]:
read_csv = pd.read_csv('titanic_raw_data.csv')
print(read_csv.head())

                PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
1;0;3;Braund       Mr. Owen Harris;male;22.0;1;0;A/5 21171;7.25;;S
2;1;1;Cumings     Mrs. John Bradley (Florence Briggs Thayer);fe...
3;1;3;Heikkinen   Miss. Laina;female;26.0;0;0;STON/O2. 3101282;...
4;1;1;Futrelle    Mrs. Jacques Heath (Lily May Peel);female;35....
5;0;3;Allen         Mr. William Henry;male;35.0;0;0;373450;8.05;;S

In [8]:
lst1 = [1,2.5, "hello"]
series = pd.Series(lst1)
series

0        1
1      2.5
2    hello
dtype: object

In [10]:
# creating series form list

data = [10, 20, 30, 40, 50]
s = pd.Series(data,index=['maths', 'sci', 'ss', 'bio', 'math'])
s

tuple1 = (100, 200, 300, 400)
series2 = pd.Series(tuple1)
tuple1

maths    10
sci      20
ss       30
bio      40
math     50
dtype: int64

In [15]:
# dataframe using dictionary

data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']
        }

df = pd.DataFrame(data)
df
df.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
# renaming a column
df.rename(columns={'Name': 'Bacche'}, inplace=True)
print(df)

  Bacche  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

In [19]:
import pandas as pd

In [24]:
read_csv = pd.read_csv('titanic_raw_data.csv', sep=";")
print(read_csv.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S